!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!
!URxvt.perl-ext-common:
URxvt.perl-ext-common: default,xim-onthespot,resize-font
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot
URxvt.internalBorder: 8

!! resize-font
URxvt.resize-font.step: 2
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger

URxvt.geometry:             110x30
URxvt.scrollBar:			false
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
URxvt.visualBell:           false
URxvt.saveLines:            4000
!URxvt.fading:               40

!! Font list and Spacing
!URxvt.font:                xft:Ricty:Normal:size=14,xft:Font-Awesome:size=15,antialias=true
URxvt.font:                xft:Ricty:Normal:size=22,antialias=true
URxvt.letterSpace:          -1

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
!URxvt.depth:                32
!URxvt.color0:               [100]#282828
!URxvt.color1:               [100]#cc241d
!URxvt.color2:               [100]#98971a
!URxvt.color3:               [100]#d79921
!URxvt.color4:               [100]#458588
!URxvt.color5:               [100]#b16286
!URxvt.color6:               [100]#689d6a
!URxvt.color7:               [100]#a89984
!URxvt.color8:               [100]#928374
!URxvt.color9:               [100]#fb4934
!URxvt.color10:              [100]#b8bb26
!URxvt.color11:              [100]#fabd2f
!URxvt.color12:              [100]#83a598
!URxvt.color13:              [100]#d3869b
!URxvt.color14:              [100]#8ec07c
!URxvt.color15:              [100]#ebdbb2
!URxvt.foreground:           [100]#8fa1b3

!URxvt.background:           [50]#000000
!URxvt.colorIT:              [100]#8ec07c
!URxvt.colorBD:              [100]#d5c4a1
!URxvt.colorUL:              [100]#83a598

!URxvt.scrollColor:          [100]#504945
!URxvt.troughColor:          [90]#3C3836
!URxvt.transparent:   true
!URxvt.shading:       20
!URxvt.iconFile:    /usr/share/icons/Flat-Remix-Dark/apps/scalable/terminal.svg

!!!!!!!!!!!!!!!!!!


! X colors.
! Generated by 'wal'
*foreground:        #dfe3e5
*background:        #041E2A
*.foreground:       #dfe3e5
*.background:       #041E2A
emacs*foreground:   #dfe3e5
emacs*background:   #041E2A
URxvt*foreground:   #dfe3e5
XTerm*foreground:   #dfe3e5
UXTerm*foreground:  #dfe3e5
URxvt*background:   [70]#041E2A
XTerm*background:   #041E2A
UXTerm*background:  #041E2A
URxvt*cursorColor:  #dfe3e5
XTerm*cursorColor:  #dfe3e5
UXTerm*cursorColor: #dfe3e5
URxvt*borderColor:  [70]#041E2A

! Colors 0-15.
*.color0: #041E2A
*color0:  #041E2A
*.color1: #5A7784
*color1:  #5A7784
*.color2: #627D8A
*color2:  #627D8A
*.color3: #708995
*color3:  #708995
*.color4: #7D95A0
*color4:  #7D95A0
*.color5: #93A6AF
*color5:  #93A6AF
*.color6: #B2C1C7
*color6:  #B2C1C7
*.color7: #dfe3e5
*color7:  #dfe3e5
*.color8: #9c9ea0
*color8:  #9c9ea0
*.color9: #5A7784
*color9:  #5A7784
*.color10: #627D8A
*color10:  #627D8A
*.color11: #708995
*color11:  #708995
*.color12: #7D95A0
*color12:  #7D95A0
*.color13: #93A6AF
*color13:  #93A6AF
*.color14: #B2C1C7
*color14:  #B2C1C7
*.color15: #dfe3e5
*color15:  #dfe3e5

! Black color that will not be affected by bold highlighting.
*.color66: #041E2A
*color66:  #041E2A

! Xclock colors.
XClock*foreground: #dfe3e5
XClock*background: #041E2A
XClock*majorColor:  rgba:df/e3/e5/ff
XClock*minorColor:  rgba:df/e3/e5/ff
XClock*hourColor:   rgba:df/e3/e5/ff
XClock*minuteColor: rgba:df/e3/e5/ff
XClock*secondColor: rgba:df/e3/e5/ff

! Set depth to make transparency work.
URxvt*depth: 32
